{{#xdebug_auto_profile}}xdebug.auto_profile {{xdebug_auto_profile}}
{{/xdebug_auto_profile}}{{#xdebug_auto_profile_mode}}xdebug.auto_profile_mode {{xdebug_auto_profile_mode}}
{{/xdebug_auto_profile_mode}}{{#xdebug_auto_trace}}xdebug.auto_trace {{xdebug_auto_trace}}
{{/xdebug_auto_trace}}{{#xdebug_collect_includes}}xdebug.collect_includes {{xdebug_collect_includes}}
{{/xdebug_collect_includes}}{{#xdebug_collect_params}}xdebug.collect_params {{xdebug_collect_params}}
{{/xdebug_collect_params}}{{#xdebug_collect_return}}xdebug.collect_return {{xdebug_collect_return}}
{{/xdebug_collect_return}}{{#xdebug_collect_vars}}xdebug.collect_vars {{xdebug_collect_vars}}
{{/xdebug_collect_vars}}{{#xdebug_default_enable}}xdebug.default_enable {{xdebug_default_enable}}
{{/xdebug_default_enable}}{{#xdebug_dump_COOKIE}}xdebug.dump.COOKIE {{xdebug_dump_COOKIE}}
{{/xdebug_dump_COOKIE}}{{#xdebug_dump_ENV}}xdebug.dump.ENV {{xdebug_dump_ENV}}
{{/xdebug_dump_ENV}}{{#xdebug_dump_FILES}}xdebug.dump.FILES {{xdebug_dump_FILES}}
{{/xdebug_dump_FILES}}{{#xdebug_dump_GET}}xdebug.dump.GET {{xdebug_dump_GET}}
{{/xdebug_dump_GET}}{{#xdebug_dump_POST}}xdebug.dump.POST {{xdebug_dump_POST}}
{{/xdebug_dump_POST}}{{#xdebug_dump_REQUEST}}xdebug.dump.REQUEST {{xdebug_dump_REQUEST}}
{{/xdebug_dump_REQUEST}}{{#xdebug_dump_SERVER}}xdebug.dump.SERVER {{xdebug_dump_SERVER}}
{{/xdebug_dump_SERVER}}{{#xdebug_dump_SESSION}}xdebug.dump.SESSION {{xdebug_dump_SESSION}}
{{/xdebug_dump_SESSION}}{{#xdebug_dump_globals}}xdebug.dump_globals {{xdebug_dump_globals}}
{{/xdebug_dump_globals}}{{#xdebug_dump_once}}xdebug.dump_once {{xdebug_dump_once}}
{{/xdebug_dump_once}}{{#xdebug_dump_undefined}}xdebug.dump_undefined {{xdebug_dump_undefined}}
{{/xdebug_dump_undefined}}{{#xdebug_extended_info}}xdebug.extended_info {{xdebug_extended_info}}
{{/xdebug_extended_info}}{{#xdebug_idekey}}xdebug.idekey {{xdebug_idekey}}
{{/xdebug_idekey}}{{#xdebug_manual_url}}xdebug.manual_url {{xdebug_manual_url}}
{{/xdebug_manual_url}}{{#xdebug_max_nesting_level}}xdebug.max_nesting_level {{xdebug_max_nesting_level}}
{{/xdebug_max_nesting_level}}{{#xdebug_output_dir}}xdebug.output_dir {{xdebug_output_dir}}
{{/xdebug_output_dir}}{{#xdebug_profiler_aggregate}}xdebug.profiler_aggregate {{xdebug_profiler_aggregate}}
{{/xdebug_profiler_aggregate}}{{#xdebug_profiler_append}}xdebug.profiler_append {{xdebug_profiler_append}}
{{/xdebug_profiler_append}}{{#xdebug_profiler_enable}}xdebug.profiler_enable {{xdebug_profiler_enable}}
{{/xdebug_profiler_enable}}{{#xdebug_profiler_enable_trigger}}xdebug.profiler_enable_trigger {{xdebug_profiler_enable_trigger}}
{{/xdebug_profiler_enable_trigger}}{{#xdebug_profiler_output_dir}}xdebug.profiler_output_dir {{xdebug_profiler_output_dir}}
{{/xdebug_profiler_output_dir}}{{#xdebug_profiler_output_name}}xdebug.profiler_output_name {{xdebug_profiler_output_name}}
{{/xdebug_profiler_output_name}}{{#xdebug_remote_autostart}}xdebug.remote_autostart {{xdebug_remote_autostart}}
{{/xdebug_remote_autostart}}{{#xdebug_remote_enable}}xdebug.remote_enable {{xdebug_remote_enable}}
{{/xdebug_remote_enable}}{{#xdebug_remote_handler}}xdebug.remote_handler {{xdebug_remote_handler}}
{{/xdebug_remote_handler}}{{#xdebug_remote_host}}xdebug.remote_host {{xdebug_remote_host}}
{{/xdebug_remote_host}}{{#xdebug_remote_log}}xdebug.remote_log {{xdebug_remote_log}}
{{/xdebug_remote_log}}{{#xdebug_remote_mode}}xdebug.remote_mode {{xdebug_remote_mode}}
{{/xdebug_remote_mode}}{{#xdebug_remote_port}}xdebug.remote_port {{xdebug_remote_port}}
{{/xdebug_remote_port}}{{#xdebug_show_exception_trace}}xdebug.show_exception_trace {{xdebug_show_exception_trace}}
{{/xdebug_show_exception_trace}}{{#xdebug_show_local_vars}}xdebug.show_local_vars {{xdebug_show_local_vars}}
{{/xdebug_show_local_vars}}{{#xdebug_show_mem_delta}}xdebug.show_mem_delta {{xdebug_show_mem_delta}}
{{/xdebug_show_mem_delta}}{{#xdebug_trace_format}}xdebug.trace_format {{xdebug_trace_format}}
{{/xdebug_trace_format}}{{#xdebug_trace_options}}xdebug.trace_options {{xdebug_trace_options}}
{{/xdebug_trace_options}}{{#xdebug_trace_output_dir}}xdebug.trace_output_dir {{xdebug_trace_output_dir}}
{{/xdebug_trace_output_dir}}{{#xdebug_trace_output_name}}xdebug.trace_output_name {{xdebug_trace_output_name}}
{{/xdebug_trace_output_name}}{{#xdebug_var_display_max_children}}xdebug.var_display_max_children {{xdebug_var_display_max_children}}
{{/xdebug_var_display_max_children}}{{#xdebug_var_display_max_data}}xdebug.var_display_max_data {{xdebug_var_display_max_data}}
{{/xdebug_var_display_max_data}}{{#xdebug_var_display_max_depth}}xdebug.var_display_max_depth {{xdebug_var_display_max_depth}}
{{/xdebug_var_display_max_depth}}
