{{#short_open_tag}}short_open_tag {{short_open_tag}}
{{/short_open_tag}}{{#asp_tags}}asp_tags {{asp_tags}}
{{/asp_tags}}{{#precision}}precision {{precision}}
{{/precision}}{{#serialize_precision}}serialize_precision {{serialize_precision}}
{{/serialize_precision}}{{#y2k_compliance}}y2k_compliance {{y2k_compliance}}
{{/y2k_compliance}}{{#allow_call_time_pass_reference}}allow_call_time_pass_reference {{allow_call_time_pass_reference}}
{{/allow_call_time_pass_reference}}{{#disable_functions}}disable_functions {{disable_functions}}
{{/disable_functions}}{{#disable_classes}}disable_classes {{disable_classes}}
{{/disable_classes}}{{#expose_php}}expose_php {{expose_php}}
{{/expose_php}}{{#ze1_compatibility_mode}}ze1_compatibility_mode {{ze1_compatibility_mode}}
{{/ze1_compatibility_mode}}{{#zend_multibyte}}zend.multibyte {{zend_multibyte}}
{{/zend_multibyte}}{{#detect_unicode}}detect_unicode {{detect_unicode}}
{{/detect_unicode}}{{#memory_limit}}memory_limit {{memory_limit}}
{{/memory_limit}}{{#realpath_cache_size}}realpath_cache_size {{realpath_cache_size}}
{{/realpath_cache_size}}{{#realpath_cache_ttl}}realpath_cache_ttl {{realpath_cache_ttl}}
{{/realpath_cache_ttl}}{{#arg_separator_output}}arg_separator.output {{arg_separator_output}}
{{/arg_separator_output}}{{#arg_separator_input}}arg_separator.input {{arg_separator_input}}
{{/arg_separator_input}}{{#variables_order}}variables_order {{variables_order}}
{{/variables_order}}{{#request_order}}request_order {{request_order}}
{{/request_order}}{{#auto_globals_jit}}auto_globals_jit {{auto_globals_jit}}
{{/auto_globals_jit}}{{#register_globals}}register_globals {{register_globals}}
{{/register_globals}}{{#register_argc_argv}}register_argc_argv {{register_argc_argv}}
{{/register_argc_argv}}{{#register_long_arrays}}register_long_arrays {{register_long_arrays}}
{{/register_long_arrays}}{{#post_max_size}}post_max_size {{post_max_size}}
{{/post_max_size}}{{#gpc_order}}gpc_order {{gpc_order}}
{{/gpc_order}}{{#auto_prepend_file}}auto_prepend_file {{auto_prepend_file}}
{{/auto_prepend_file}}{{#auto_append_file}}auto_append_file {{auto_append_file}}
{{/auto_append_file}}{{#default_mimetype}}default_mimetype {{default_mimetype}}
{{/default_mimetype}}{{#default_charset}}default_charset {{default_charset}}
{{/default_charset}}{{#always_populate_raw_post_data}}always_populate_raw_post_data {{always_populate_raw_post_data}}
{{/always_populate_raw_post_data}}{{#allow_webdav_methods}}allow_webdav_methods {{allow_webdav_methods}}
{{/allow_webdav_methods}}{{#hasIncludePath}}include_path ".{{#include_path}}{{dir_separator}}{{.}}{{/include_path}}"{{/hasIncludePath}}{{#open_basedir}}open_basedir {{open_basedir}}
{{/open_basedir}}{{#doc_root}}doc_root {{doc_root}}
{{/doc_root}}{{#user_dir}}user_dir {{user_dir}}
{{/user_dir}}{{#extension_dir}}extension_dir {{extension_dir}}
{{/extension_dir}}{{#file_uploads}}file_uploads {{file_uploads}}
{{/file_uploads}}{{#upload_tmp_dir}}upload_tmp_dir {{upload_tmp_dir}}
{{/upload_tmp_dir}}{{#upload_max_filesize}}upload_max_filesize {{upload_max_filesize}}
{{/upload_max_filesize}}{{#max_file_uploads}}max_file_uploads {{max_file_uploads}}
{{/max_file_uploads}}{{#sql_safe_mode}}sql.safe_mode {{sql_safe_mode}}
{{/sql_safe_mode}}{{#allow_url_fopen}}allow_url_fopen {{allow_url_fopen}}
{{/allow_url_fopen}}{{#allow_url_include}}allow_url_include {{allow_url_include}}
{{/allow_url_include}}{{#user_agent}}user_agent {{user_agent}}
{{/user_agent}}{{#default_socket_timeout}}default_socket_timeout {{default_socket_timeout}}
{{/default_socket_timeout}}{{#from}}from {{from}}
{{/from}}{{#auto_detect_line_endings}}auto_detect_line_endings {{auto_detect_line_endings}}
{{/auto_detect_line_endings}}{{#assert_active}}assert.active {{assert_active}}
{{/assert_active}}{{#assert_bail}}assert.bail {{assert_bail}}
{{/assert_bail}}{{#assert_warning}}assert.warning {{assert_warning}}
{{/assert_warning}}{{#assert_callback}}assert.callback {{assert_callback}}
{{/assert_callback}}{{#assert_quiet_eval}}assert.quiet_eval {{assert_quiet_eval}}
{{/assert_quiet_eval}}{{#enable_dl}}enable_dl {{enable_dl}}
{{/enable_dl}}{{#max_execution_time}}max_execution_time {{max_execution_time}}
{{/max_execution_time}}{{#max_input_time}}max_input_time {{max_input_time}}
{{/max_input_time}}{{#max_input_nesting_level}}max_input_nesting_level {{max_input_nesting_level}}
{{/max_input_nesting_level}}{{#magic_quotes_gpc}}magic_quotes_gpc {{magic_quotes_gpc}}
{{/magic_quotes_gpc}}{{#magic_quotes_runtime}}magic_quotes_runtime {{magic_quotes_runtime}}
{{/magic_quotes_runtime}}{{#zend_enable_gc}}zend.enable_gc {{zend_enable_gc}}
{{/zend_enable_gc}}{{#error_reporting}}error_reporting {{error_reporting}}
{{/error_reporting}}{{#display_errors}}display_errors {{display_errors}}
{{/display_errors}}{{#display_startup_errors}}display_startup_errors {{display_startup_errors}}
{{/display_startup_errors}}{{#log_errors}}log_errors {{log_errors}}
{{/log_errors}}{{#log_errors_max_len}}log_errors_max_len {{log_errors_max_len}}
{{/log_errors_max_len}}{{#ignore_repeated_errors}}ignore_repeated_errors {{ignore_repeated_errors}}
{{/ignore_repeated_errors}}{{#ignore_repeated_source}}ignore_repeated_source {{ignore_repeated_source}}
{{/ignore_repeated_source}}{{#report_memleaks}}report_memleaks {{report_memleaks}}
{{/report_memleaks}}{{#track_errors}}track_errors {{track_errors}}
{{/track_errors}}{{#html_errors}}html_errors {{html_errors}}
{{/html_errors}}{{#xmlrpc_errors}}xmlrpc_errors {{xmlrpc_errors}}
{{/xmlrpc_errors}}{{#xmlrpc_error_number}}xmlrpc_error_number {{xmlrpc_error_number}}
{{/xmlrpc_error_number}}{{#docref_root}}docref_root {{docref_root}}
{{/docref_root}}{{#docref_ext}}docref_ext {{docref_ext}}
{{/docref_ext}}{{#error_prepend_string}}error_prepend_string "{{error_prepend_string}}"
{{/error_prepend_string}}{{#error_append_string}}error_append_string "{{error_append_string}}"
{{/error_append_string}}{{#error_log}}error_log "{{error_log}}"
{{/error_log}}{{#date_default_latitude}}date.default_latitude {{date_default_latitude}}
{{/date_default_latitude}}{{#date_default_longitude}}date.default_longitude {{date_default_longitude}}
{{/date_default_longitude}}{{#date_sunrise_zenith}}date.sunrise_zenith {{date_sunrise_zenith}}
{{/date_sunrise_zenith}}{{#date_sunset_zenith}}date.sunset_zenith {{date_sunset_zenith}}
{{/date_sunset_zenith}}{{#date_timezone}}date.timezone "{{date_timezone}}"
{{/date_timezone}}{{#hasExtensions}}
[Extensions]
{{#extensions}}extension {{.}}
{{/extensions}}{{/hasExtensions}}
{{#hasZendExtensions}}{{#zend_extensions}}zend_extension {{.}}
{{/zend_extensions}}{{/hasZendExtensions}}
{{#hasZendExtensionsDebug}}{{#zend_extension_debug}}zend_extension_debug {{.}}
{{/zend_extension_debug}}{{/hasZendExtensionsDebug}}
{{#hasZendExtensionsDebugTs}}{{#zend_extension_debug_ts}}zend_extension_debug_ts {{.}}
{{/zend_extension_debug_ts}}{{/hasZendExtensionsDebugTs}}
{{#hasZendExtensionsTs}}{{#zend_extension_ts}}zend_extension_ts {{.}}
{{/zend_extension_ts}}{{/hasZendExtensionsTs}}
{{#xdebug}}
{{>php.xdebug}}
{{/xdebug}}