<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BytheStack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>OpenSSL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>cURL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E3CE81D13EBFB5900EC69E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5A924E13EB6245006498C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5A927213EB6246006498C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5AA16913EB6A9D006498C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5AA17213EB7053006498C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
