[submodule "vendor/asi-http-request"]
	path = vendor/asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "resources/brew"]
	path = resources/brew
	url = git://github.com/mxcl/homebrew.git
