[submodule "vendor/asi-http-request"]
	path = vendor/asi-http-request
	url = git://github.com/pokeb/asi-http-request.git
[submodule "vendor/google-toolbox-for-mac"]
	path = vendor/google-toolbox-for-mac
	url = git://github.com/innerfence/google-toolbox-for-mac.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = git://github.com/groue/GRMustache.git
