<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>xdebug_auto_profile</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_auto_profile_mode</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_auto_trace</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_collect_includes</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<true/>
	</dict>
	<key>xdebug_collect_params</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_collect_return</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_collect_vars</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_default_enable</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<true/>
	</dict>
	<key>xdebug_dump_COOKIE</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_ENV</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_FILES</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_GET</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_POST</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_REQUEST</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_SERVER</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_SESSION</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_dump_globals</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<true/>
	</dict>
	<key>xdebug_dump_once</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<true/>
	</dict>
	<key>xdebug_dump_undefined</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_extended_info</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<true/>
	</dict>
	<key>xdebug_idekey</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_manual_url</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>http://www.php.net</string>
	</dict>
	<key>xdebug_max_nesting_level</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<integer>100</integer>
	</dict>
	<key>xdebug_output_dir</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>/tmp</string>
	</dict>
	<key>xdebug_profiler_aggregate</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_profiler_append</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_profiler_enable</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_profiler_enable_trigger</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_profiler_output_dir</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>/tmp</string>
	</dict>
	<key>xdebug_profiler_output_name</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>cachegrind.out.%p</string>
	</dict>
	<key>xdebug_remote_autostart</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_remote_enable</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_remote_handler</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>dbgp</string>
	</dict>
	<key>xdebug_remote_host</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>localhost</string>
	</dict>
	<key>xdebug_remote_log</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string></string>
	</dict>
	<key>xdebug_remote_mode</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>req</string>
	</dict>
	<key>xdebug_remote_port</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<integer>9000</integer>
	</dict>
	<key>xdebug_show_exception_trace</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_show_local_vars</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_show_mem_delta</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_trace_format</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_trace_options</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<false/>
	</dict>
	<key>xdebug_trace_output_dir</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>/tmp</string>
	</dict>
	<key>xdebug_trace_output_name</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<string>trace.%c</string>
	</dict>
	<key>xdebug_var_display_max_children</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<integer>128</integer>
	</dict>
	<key>xdebug_var_display_max_data</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<integer>512</integer>
	</dict>
	<key>xdebug_var_display_max_depth</key>
	<dict>
		<key>description</key>
		<string></string>
		<key>default</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
