upload_max_filesize
zend_extension_debug
assert_callback
ignore_repeated_source
xmlrpc_errors
arg_separator_input
date_timezone
memory_limit
zend_extension
user_dir
sql_safe_mode
serialize_precision
allow_url_fopen
asp_tags
date_default_longitude
docref_ext
y2k_compliance
zend_extension_ts
error_append_string
post_max_size
default_charset
extension_dir
realpath_cache_ttl
expose_php
open_basedir
max_input_nesting_level
detect_unicode
zend_extension_debug_ts
file_uploads
report_memleaks
magic_quotes_gpc
assert_bail
docref_root
assert_warning
date_sunrise_zenith
precision
display_startup_errors
disable_classes
default_mimetype
arg_separator_output
ze1_compatibility_mode
gpc_order
xmlrpc_error_number
register_long_arrays
track_errors
magic_quotes_runtime
error_prepend_string
date_sunset_zenith
realpath_cache_size
log_errors
allow_webdav_methods
auto_detect_line_endings
log_errors_max_len
from
ignore_repeated_errors
upload_tmp_dir
zend_multibyte
short_open_tag
error_log
register_globals
zend_enable_gc
date_default_latitude
enable_dl
auto_prepend_file
register_argc_argv
allow_url_include
max_input_time
include_path
extension
variables_order
html_errors
request_order
always_populate_raw_post_data
assert_active
auto_globals_jit
doc_root
allow_call_time_pass_reference
max_execution_time
assert_quiet_eval
disable_functions
auto_append_file
default_socket_timeout
display_errors
error_reporting
user_agent
max_file_uploads
