<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fastcgi.impersonate</key>
	<dict>
		<key>description</key>
		<string>FastCGI under IIS (on WINNT based OS) supports the ability to impersonate security tokens of the calling client. This allows IIS to define the security context that the request runs under. mod_fastcgi under Apache does not currently support this feature (03/17/2002) Set to 1 if running under IIS. Default is zero.</string>
		<key>default</key>
		<true/>
	</dict>
	<key>fastcgi.logging</key>
	<dict>
		<key>description</key>
		<string>Turns on SAPI logging when using FastCGI. Default is to enable logging.</string>
		<key>default</key>
		<true/>
	</dict>
</dict>
</plist>
